# save file as .env

EMAIL_PASSWORD='your-mail-passs'
FDDR_ACCOUNTS_PATH='/home/fokko/data/accounts'
SESSION_SECRET='random-session-secret'
CAPTCHA_TOKEN='secret-token'
CAPTCHA_CALLBACK='https://f.zillyhuhn.com/'
