# save file as .env

EMAIL_PASSWORD='your-mail-passs'
FDDR_ACCOUNTS_PATH='/home/fokko/data/accounts'
SESSION_SECRET='random-session-secret'
CAPTCHA_BACKEND='https://captcha.zillyhuhn.com/'
# HOSTNAME HAS TO END WITH /
HOSTNAME='https://f.zillyhuhn.com/'
IP_ADDR=127.0.0.1
