<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fokkonaut's playground</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partial/navbar', {data: data}); %>
    <div class="wrapper">
        <div class="content" style="display: block;">
            <h1>F-DDrace</h1>
            <a href="https://discord.gg/qccRrtb">https://discord.gg/qccRrtb</a>
            <br>
            <script>
                // setTimeout('window.location.reload();', 30000);
                setInterval('fetch("https://f.zillyhuhn.com/").then(e => console.log(e));', 3000);
            </script>
            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="VUE6H3V2JAR3E" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
            </form>
            <!--
                <iframe width="720px" height="600px" src="<%= captchaBackend %>/?t=<%= token %>&callback=<%= hostname %>" scrolling="no" frameborder="0"></iframe>
            -->
        </div>
    </div>
</body>
</html>
