<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>survey</title>
</head>
<body>
    <h1>F-DDrace survey</h1>
    <form action="#" method="POST">
        <label for="question1">question1:</label>
        <input type="text" class="complete-players complete-question1" name="question1" id="question1" placeholder="">
        <ul class="complete-players complete-question1"></ul>

        <label for="question2">question2:</label>
        <input type="text" class="complete-players complete-question2" name="question2" id="question2" placeholder="">
        <ul class="complete-players complete-question2"></ul>

        <input type="submit" value="submit">
    </form>
    <script src="players.js"></script>
</body>
</html>
