<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>survey</title>
</head>
<body>
    <%- include('partial/navbar', {data: data}); %>
    <div class="wrapper">
        <div class="content" style="display: block">
            <h1>F-DDrace survey</h1>
            <% results.forEach((result) => { %>
                <% const key = Object.keys(result)[0] %>
                <% const index = key.match(/\d+/)[0] %>
                <h3><%= questions[index] %></h3>
                <div><%= result[key] %> (<%= result.c %> Votes)</div>
            <% }) %>
            <br>
            <a href="/survey">vote or edit your vote</a>
        </div>
    </div>
    <script src="players.js"></script>
</body>
</html>
