.message-green {
    border: 2px solid green;
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(10, 175, 10);
    color: white;
    margin: 5px;
}

.complete-entry {
    list-style: none;
    border: 2px solid rgb(124, 104, 104);
    border-radius: 3px;
    padding: 10px;
    margin: 2px;
}

.complete-entry:hover {
    background-color: rgb(137, 228, 152);
}
